* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 300px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: white;
    border-radius: 35px;
    text-align: center;
}

p {
    font-size: 30px;
    padding: 0 44px;
}

.info {
    text-align: left;
}

.img {
    display: inline-block;
    margin: 50px auto;
}

span {
    color: rgb(214, 133, 133);
}

img {
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}